@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!</h1>
    <p>Sistema centralizado de gerenciamento de Pessoas cadastradas na base de dados da SPTC.</p>
</div>

<div class="text-center">
    <img src="~/img/brasaoPoliciaCientifica_traco_positivo.png" class="img-central" alt="" />
</div>