@{
    Layout = null;
}

@model MVC.Controllers.LoginController

<link href="~/css/login.css" rel="stylesheet" />
<link href="~/js/login.js" rel="stylesheet" />

<div class="login-container" style="overflow: hidden">
    <div class="header">
        <h2>SPTC - Pessoas</h2>
    </div>
    <div class="logo-placeholder">
        <img src="~/img/brasaopoliciacientifica_color.png" alt="Polícia Técnico-Científica" width="300px"  />
    </div>
    <div class="login-form">
        <label for="username">Usuário</label>
        <input type="text" id="username" name="username">
        @* <input type="text" id="username" name="username" required> *@

        <label for="password">Senha</label>
        <input type="password" id="password" name="password">
        @* <input type="password" id="password" name="password" required> *@

        @* <button id="btnLogin">Entrar</button> *@
        <button class="btn btn-secondary" onclick="window.location.href='@Url.Content("~/Home/Index")'">
            <i class="fas fa-sign-in-alt"></i> Entrar
        </button>
        @* <button type="submit">Entrar</button> *@
    </div>
</div>