@page
@model MVC.Controllers.PersonController

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true">
<link rel="stylesheet" type="text/css" href="~/lib/datatables/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="~/lib/jquery-ui/css/jquery-ui.min.css" />
<link href="~/lib/sweet-alert/css/sweetalert2.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap-datepicker.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-input-mask/js/jquery.mask.min.js"></script>
<script src="~/lib/jquery-ui/js/jquery-ui.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/sweet-alert/js/sweetalert2.all.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
<script src="~/js/person.js" asp-append-version="true"></script>

<div class="container">

    <!-- Seção Header -->
    <div class="row">
        <div class="col-6">
            <h1 class="mt-4">Pesquisa de Pessoas</h1>
        </div>
        <div class="col-6 text-right" style="text-align: -webkit-right;">
            <button id="btnCadastroModal" class="btn btn-primary mt-4" data-toggle="modal" data-target="#personSaveModal">
                <i class="fas fa-plus-circle"></i> Cadastrar
            </button>
        </div>
    </div>

    <!-- Seção Filtros -->
    <div class="card mt-4">
        <div class="card-header">
            Filtros
        </div>
        <div class="card-body">
            <form id="searchForm">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <label>Nome:</label>
                        <input type="text" id="Name" name="Name" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label>Nascimento:</label>
                        <input type="text" id="BirthDate" name="BirthDate" class="form-control datepicker">
                    </div>
                    <div class="col-md-4">
                        <label>Gênero:</label>
                        <input type="text" id="Gender" name="Gender" class="form-control">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label>Nome da Mãe:</label>
                        <input type="text" id="MotherName" name="MotherName" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label>Nome do Pai:</label>
                        <input type="text" id="FatherName" name="FatherName" class="form-control">
                    </div>
                    <div class="col-md-4">
                        <label>Nome Social:</label>
                        <input type="text" id="SocialName" name="SocialName" class="form-control">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label>RG:</label>
                        <input type="text" id="Rg" name="Rg" class="form-control rg">
                    </div>
                    <div class="col-md-4">
                        <label>CPF:</label>
                        <input type="text" id="Cpf" name="Cpf" class="form-control cpf">
                    </div>
                </div>
                
                <hr>

                <!-- Botões de Ação -->
                <div class="d-flex justify-content-between">
                    <button class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "Home")'">
                        <i class="fas fa-arrow-left"></i> Voltar
                    </button>
                    <div class="d-flex justify-content-between">
                        <div id="loading-spinner" class="d-none">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Carregando...</span>
                            </div>
                        </div>
                        <button type="reset" class="btn btn-secondary me-2">
                            <i class="fas fa-trash"></i> Limpar
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-search"></i> Buscar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br />

    <!-- Grid Resultados -->
    <table id="dataTable" class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Nome da Mãe</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Data de Criação</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <!-- Modal de Salvamento -->
    <div class="modal fade" id="personSaveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="max-width: 630px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SaveTitleModal">Cadastrar Usuário</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="SaveForm">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="PersonTypeSave">Tipo de Pessoa:</label>
                                <select id="PersonTypeSave" name="PersonTypeSave" class="form-control"></select>
                            </div>
                            <div class="col-md-4">
                                <input type="hidden" id="hdnId" name="hdnId" value="0">

                                <label>Nome:</label>
                                <input type="text" id="NameSave" name="NameSave" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label>Nascimento:</label>
                                <input type="text" id="BirthDateSave" name="BirthDateSave" class="form-control datepicker">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label>Gênero:</label>
                            @* <input type="text" id="GenderSave" name="GenderSave" class="form-control"> *@
                                <select id="GenderSave" name="GenderSave" class="form-control"></select>
                            </div>
                            <div class="col-md-4">
                                <label>RG:</label>
                                <input type="text" id="RgSave" name="RgSave" class="form-control rg">
                            </div>
                            <div class="col-md-4">
                                <label>CPF:</label>
                                <input type="text" id="CpfSave" name="CpfSave" class="form-control cpf">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label>Nome da Mãe:</label>
                                <input type="text" id="MotherNameSave" name="MotherNameSave" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label>Nome do Pai:</label>
                                <input type="text" id="FatherNameSave" name="FatherNameSave" class="form-control">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label>Nome Social:</label>
                                <input type="text" id="SocialNameSave" name="SocialNameSave" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="display: block;">
                    <div class="d-flex justify-content-between">
                        <button class="btn btn-secondary close" data-dismiss="modal">
                            <i class="fas fa-times"></i> Fechar
                        </button>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary ml-auto me-2" id="btnSave">
                                <i class="fas fa-check"></i> Cadastrar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Visualização -->
    <div class="modal fade" id="personDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 130% !important; margin: 0 auto;">
                <div class="modal-header">
                    <h5 class="modal-title">Detalhes da Pessoa</h5>
                    <button type="button" class="closeDetails" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="NameView">Nome:</label>
                            <span id="NameView" class="formatted-text"></span>
                        </div>
                        <div class="col-md-4">
                            <label for="BirthDateView">Nascimento:</label>
                            <span id="BirthDateView" class="formatted-text"></span>
                        </div>
                        <div class="col-md-4">
                            <label for="GenderView">Gênero:</label>
                            <span id="GenderView" class="formatted-text"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="MotherNameView">Nome da Mãe:</label>
                            <span id="MotherNameView" class="formatted-text"></span>
                        </div>
                        <div class="col-md-4">
                            <label for="FatherNameView">Nome do Pai:</label>
                            <span id="FatherNameView" class="formatted-text"></span>
                        </div>
                        <div class="col-md-4">
                            <label for="SocialNameView">Nome Social:</label>
                            <span id="SocialNameView" class="formatted-text"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="RgView">RG:</label>
                            <span id="RgView" class="formatted-text rg"></span>
                        </div>
                        <div class="col-md-6">
                            <label for="CpfView">CPF:</label>
                            <span id="CpfView" class="formatted-text cpf"></span>
                        </div>
                    </div>

                    <hr style="display: none;" id="logSectionSeparator">
                    <div id="logSection" style="display: none;">
                        <table id="logTable" class="display">
                            <thead>
                                <tr>
                                    <th>Data</th>
                                    <th>Campo</th>
                                    <th>De</th>
                                    <th>Para</th>
                                    <th>Sistema</th>
                                    <th>Usuário</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
