html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Estilos do menu lateral */
#sidebar {
    position: fixed;
    min-height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 250px;
    z-index: 1000;
    padding-top: 20px;
    color: white;
    display: flex;
    flex-direction: column;
}

    #sidebar ul.nav {
        list-style: none;
        flex: 1;
    }

        #sidebar ul.nav .nav-link {
            color: white;
        }

            #sidebar ul.nav .nav-link:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

/* Estilos para tornar o menu responsivo em telas menores */
@media (max-width: 768px) {
    #sidebar {
        position: relative;
        width: 100%;
        padding-top: 0;
        text-align: center;
    }
}

/* Adicione a classe custom-sidebar-footer */
.custom-sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.img-central {
    max-width: 50%;
    height: auto;
}
